.header
{
	background-color: #0375B4;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 30px;
	border-radius: 10px;
	padding: 10px;
}

#map
{
	height: 60%;
	padding: 10px;
	margin-top: 50px;
	position: relative;

}
.list
{
	font-size: 20px;
	padding: 10px;
	cursor:pointer;
}
/*.view
{
	border: 1px solid black;
	background-color: grey;
	text-align: center;
	margin:10px;
}*/
